@my-bit-org-or-username:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
//node-registry.bit.cloud/:_authToken=2a2a44f1-b5ba-4fc7-9bf8-f34001d6045f
always-auth=true
